.navbar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:red;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    position: absolute;
}

.content-wrapper{
    height: 100%;
}

.bottomPanel{
    position: absolute;
    bottom: 10px;
    border: 3px solid #8AC007;
  }