.title {
  text-align: center;
  color: white;
  padding-top: 70px;
}

.row {
  height: 50%;
}

.tile {
  background-color: rgb(247, 246, 236);
  height: 100%;
  text-align: center;
  color: rgb(71, 146, 163);
  padding-top: 40px
}

.p{
    text-align: center;
    font-size: 1px;
}

.a{
  align-content: left;
}