<!--TOP SECTION-->
<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    <div class="title">
      <h1><strong>{{ title }}</strong></h1>
      <a>{{ caption }}</a>
      <p></p>
      <p>{{ summary }}</p>
      <p>{{ alreadyAMember }}</p>
      <button type="button" class="btn btn-success" routerLink="/login">LOGIN</button>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
</div>
<!--BOTTOM SECTION-->
<div class="row">
  <div class="col-lg-4">
    <div class="tile">
      <h4><strong>REGISTER</strong></h4>
      <a>{{ registerDetail }}</a>
      <p>     </p>
      <button type="button" class="btn btn-info" routerLink="/register">Register</button>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="tile">
      <h4><strong>TAKE A PICTURE OF THE BOQ</strong></h4>
      <a>{{ takePicDetail }}</a>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="tile">
      <h4><strong>CHECK EMAIL</strong></h4>
      <a>{{ checkEmailDetail }}</a>
    </div>
  </div>
</div>
