<div class="main">
  <h3>File Management</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files.data">
        <th scope="row">TestID123</th>
        <td>{{ file.name }}</td>
        <td>Test Company</td>
        <td>Test Company Grading</td>
        <td>{{ file.year }}</td>
        <td>{{ lastModified }}</td>
        <td>{{ status }}</td>
      </tr>
    </tbody>
  </table>
</div>
