<!-- <div class="main">
  <h2><strong>FILE MANAGEMENT</strong></h2>
  <ul *ngIf="files">
   <li *ngFor="let file of files.data">
    <p>{{ file.name }}</p>
    <p>{{ file.year }}</p>
    <p>{{ file.pantone_value }}</p>
   </li>
  </ul>
</div> -->
<!-- 
<table mdbTable hover="true">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let file of files.data">
      <th scope="row">TestID123</th>
      <td>{{ file.name }}</td>
      <td>Test Company</td>
      <td>Test Company Grading</td>      
      <td>{{ file.year }}</td>      
      <td>{{ lastModified }}</td>
      <td>{{ status }}</td>
    </tr>
  </tbody>
</table> -->
<div class="main">
  <h3>File Management</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files.data">
        <th scope="row">TestID123</th>
        <td>{{ file.name }}</td>
        <td>Test Company</td>
        <td>Test Company Grading</td>
        <td>{{ file.year }}</td>
        <td>{{ lastModified }}</td>
        <td>{{ status }}</td>
      </tr>
    </tbody>
  </table>
</div>
