<div class="row">
  <div class="column col s12 ls12">
    <nav>
      <div class="nav-wrapper #d50000 red accent-4">
        <a href="#" class="nav-toggle-btn"></a>
        <a href="#!" class="brand-logo text">
           TPRICE
        </a>
        <ul id="nav-mobile" class="navButtons right hide-on-med-and-down">
          <li>
            <a href="home.html" class="text">Home</a>
          </li>
          <li>
            <a href="badges.html" class="text">About Us</a>
          </li>
          <li>
            <a href="collapsible.html" class="text">Products</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>