<div class="row">
  <div class="col s12">
    <div class="card white darken-1">
      <!-- ************************* Content ************************* -->
      <div class="card-content white-text">
        <span class="card-title red-text">PeppaDew Sauce</span>
        <p class="red-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
          markup to use effectively.</p>
      </div>
      <!-- ************************* Content End ************************* -->
    </div>
  </div>
</div>